body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
}

h1{
    font-size: x-large;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.text-boxes {
    display: flex;
    justify-content: space-between;
    /* margin-right: 20px; */
    /* border: 20px; */
    margin-bottom: 20px;
    /* padding-right: 20px; */
}

/* .text-boxes div {
    flex: 0 0 100%;
} */

.text-boxes label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 80px;
    padding: 8px;
    border: 1px solid #444;
    background-color: #333;
    color: #fff;
    /* text-transform: uppercase */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom:10px;
}

th, td {
    border: 1px solid #555;
    padding: 8px;
    text-align: left;

}
.delayed{
    text-decoration-style: solid;
    text-decoration: line-through;
    color: crimson;
}

th {
    background-color: #444;
}

tr:nth-child(odd) {
    background-color: #333;
}

tr:hover {
    background-color: #555;
}

#swapButton {
    padding: 0px 10px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 34px;
}

#swapButton:hover {
    background-color: #333; /* Hover color */
}


